<!--
  Generated template for the EditProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>edit-profile</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div class="inner_form_top steps" (tap)="closesuggestions()">
        <ul>

            <li (click)="step_edit(1)" [ngClass]="{'active': step == 1 }">
                <span class="ftext"></span>
                <span class="fnumber profileSpan">1</span>
            </li>

            <li (click)="step_edit(2)" [ngClass]="{'active': step == 2 }">
                <span class="fnumber profileSpan">2</span>
            </li>

            <li (click)="step_edit(3)" [ngClass]="{'active': step == 3 }" [ngStyle]="{ 'background': 'transparent' }">
                <span class="fnumber profileSpan">3</span>
            </li>


        </ul>
        <div class="clr"></div>
    </div>

    <!------------------------------ STEP ONE ---------------------------->

    <ion-list *ngIf="step == 1">
        <div class="input text">
            <div [ngClass]="{'yellow-bg':  err.username.errors && err.username.errors?.length != 0 }"
                 class="placeholder">{{ form.form.username.label }}
            </div>
            <ion-item>
                <ion-input type="text" [(ngModel)]="form.form.username.value"></ion-input>
            </ion-item>
            <div class="err">{{ err.username.errors }}</div>
        </div>

        <div class="input text">
            <div [ngClass]="{'yellow-bg':  err.email.children.first.errors  && err.email.children.first.errors?.length != 0 }"
                 class="placeholder">{{ form.form.email.first.label }}
            </div>
            <ion-item>
                <ion-input type="text" [(ngModel)]="form.form.email.first.value"></ion-input>
            </ion-item>
            <div class="err">{{ err.email.children.first.errors }}</div>
        </div>

        <div class="input text">
            <div [ngClass]="{'yellow-bg':  err.email.children.first.errors  && err.email.children.first.errors != 0 }"
                 class="placeholder">{{ form.form.email.second.label }}
            </div>
            <ion-item>
                <ion-input type="text" [(ngModel)]="form.form.email.second.value"></ion-input>
            </ion-item>
            <div class="err">{{err.email.children.second.errors}}</div>
        </div>

        <div class="input text">
            <div class="placeholder">{{ form.form.phone.label }}</div>
            <ion-item>
                <ion-input type="text" [(ngModel)]="form.form.phone.value"></ion-input>
            </ion-item>
            <div class="err">{{err.phone.errors}}</div>
        </div>

        <div class="input text">
            <div [ngClass]="{'yellow-bg':  err.birthday.errors  && err.birthday.errors != 0 }" class="placeholder">{{
                form.form.birthday.label }}
            </div>
            <ion-item>
                <ion-datetime [doneText]="'אישור'" [cancelText]="'ביטול'" [(ngModel)]="mydate"
                              displayFormat="DD-MM-YYYY" max="1999"
                              pickerFormat="YYYY-MM-DD"></ion-datetime>
            </ion-item>
            <div class="err">{{err.birthday.errors}}</div>
        </div>
        <div *ngIf="err.username.errors && err.username.errors?.length != 0" class="err">{{ form.form.username.label }}:
            {{ err.username.errors }}
        </div>

        <div *ngIf="err.email.children.first.errors && err.email.children.first.errors?.length != 0" class="err">{{
            form.form.email.first.label }}: {{ err.email.children.first.errors }}
        </div>
        <div *ngIf="allfields  && allfields?.length != 0" class="err">{{ allfields }}</div>
        <button ion-button type="submit" (click)="formSubmit()" color="danger" block>{{ form.form.submit }}</button>
    </ion-list>


    <!------------------------------ STEP TWO ---------------------------->


    <ion-list *ngIf="step == 2">
        <div class="input" (click)="closeDropDown()" >
            <div [ngClass]="{'yellow-bg':  err_step_two.region.errors  && err_step_two.region.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.region.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.region.value">
                    <ion-option  value="{{ reg.value }}"
                                *ngFor="let reg of form_step_two.form_step_two.region.choices">{{reg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.region?.errors }}</div>
        </div>


        <div class="input">
        <div [ngClass]="{'yellow-bg':  err_step_two.city.errors  && err_step_two.city.errors != 0 }"
             class="placeholder">{{ form_step_two.form_step_two.city.label }}
        </div>
        <ion-item>
            <ion-input (keyup)="citysearch()" type="text" [(ngModel)]="cityname"
                       placeholder="{{ form_step_two.form_step_two.city.textValue }}"></ion-input>
        </ion-item>
        <ion-list id="livesearch" *ngIf="iscity">
            <button ion-item class="suggestion" (tap)="suggestionsel(cit)"  *ngFor="let cit of citys">{{ cit }}</button>
        </ion-list>
        <div class="err">{{ err_step_two.city?.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_two.relationshipStatus.errors  && err_step_two.relationshipStatus.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.relationshipStatus.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.relationshipStatus.value">
                    <ion-option value="{{rs.value}}"
                                *ngFor="let rs of form_step_two.form_step_two.relationshipStatus.choices">{{rs.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.relationshipStatus?.errors }}</div>
        </div>


        <div class="input" (tap)="closesuggestions()">
            <div [ngClass]="{'yellow-bg':  err_step_two.occupation.errors  && err_step_two.occupation.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.occupation.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.occupation.value">
                    <ion-option value="{{ occ.value }}"
                                *ngFor="let occ of form_step_two.form_step_two.occupation.choices">{{occ.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.occupation?.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_two.education.errors  && err_step_two.education.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.education.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.education.value">
                    <ion-option value="{{educat.value}}"
                                *ngFor="let educat of form_step_two.form_step_two.education.choices">
                        {{educat.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.ethnicity?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_two.religion.errors  && err_step_two.religion.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.religion.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.religion.value">
                    <ion-option value="{{ religion.value }}"
                                *ngFor="let religion of form_step_two.form_step_two.religion.choices">{{religion.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.religion?.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_two.sexOrientation.errors  && err_step_two.sexOrientation.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.sexOrientation.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.sexOrientation.value">
                    <ion-option value="{{ sexo.value }}"
                                *ngFor="let sexo of form_step_two.form_step_two.sexOrientation.choices">{{sexo.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.sexOrientation?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_two.purposes.errors  && err_step_two.purposes.errors != 0 }"
                 class="placeholder">{{ form_step_two.form_step_two.purposes.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_two.form_step_two.purposes.value" multiple="true">
                    <ion-option value="{{ purp.value }}"
                                *ngFor="let purp of form_step_two.form_step_two.purposes.choices">{{purp.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_two.purposes?.errors }}</div>
        </div>

        <div *ngFor="let key of errKeys">
            <div *ngIf="err_step_two[key]?.errors && err_step_two[key]?.length != 0" class="err" [innerHTML]="">
                {{form_step_two.form_step_two[key]?.label}} : {{ err_step_two[key].errors
                }}
            </div>
        </div>

        <div *ngIf="allfields  && allfields?.length != 0" class="err">{{ allfields }}</div>
        <button ion-button type="submit" (click)="formSubmit()" color="danger" block>{{ form.form.submit }}</button>
    </ion-list>

    <!------------------------------ STEP THREE ---------------------------->

    <ion-list *ngIf="step == 3">

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.about.errors && err_step_three.about.errors?.length != 0 }"
                 [innerHTML]="form_step_three.form_step_three.about.label+ ' (מינימום 10 תווים) '" class="placeholder"></div>
            <ion-item>
                <ion-textarea id="about" [(ngModel)]="form_step_three.form_step_three.about.value" rows="4">{{
                    form_step_three.form_step_three.about.value }}
                </ion-textarea>
            </ion-item>
            <div class="err">{{ err_step_three.about.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.looking.errors && err_step_three.looking.errors?.length != 0 }"
                 [innerHTML]="form_step_three.form_step_three.looking.label+ ' (מינימום 10 תווים) '" class="placeholder"></div>
            <ion-item>
                <ion-textarea id="looking" [(ngModel)]="form_step_three.form_step_three.looking.value" rows="4">{{
                    form_step_three.form_step_three.looking.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.looking.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.looking.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg': err_step_three.type.errors && err_step_three.type.errors?.length != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.type.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.type.value">
                    <ion-option value="{{ typ.value }}"
                                *ngFor="let typ of form_step_three.form_step_three.type.choices">{{typ.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.type.errors }}</div>
        </div>

        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.nutrition.label }}</div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.nutrition.value">
                    <ion-option value="{{ nutr.value }}"
                                *ngFor="let nutr of form_step_three.form_step_three.nutrition.choices">{{nutr.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.nutrition?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.veggieReasons.errors  && err_step_three.veggieReasons.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.veggieReasons.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.veggieReasons.value"
                                  multiple="true">
                    <ion-option value="{{ veg.value }}"
                                *ngFor="let veg of form_step_three.form_step_three.veggieReasons.choices">{{veg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.veggieReasons?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.smoking.errors  && err_step_three.smoking.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.smoking.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.smoking.value">
                    <ion-option value="{{ smkg.value }}"
                                *ngFor="let smkg of form_step_three.form_step_three.smoking.choices">{{smkg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.smoking?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.drinking.errors  && err_step_three.drinking.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.drinking.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.drinking.value">
                    <ion-option value="{{ drkg.value }}"
                                *ngFor="let drkg of form_step_three.form_step_three.drinking.choices">{{drkg.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.drinking?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.sport.errors  && err_step_three.sport.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.sport.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.sport.value">
                    <ion-option value="{{ spo.value }}"
                                *ngFor="let spo of form_step_three.form_step_three.sport.choices">{{spo.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.sport?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.green.errors  && err_step_three.green.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.green.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.green.value">
                    <ion-option value="{{ gre_c.value }}"
                                *ngFor="let gre_c of form_step_three.form_step_three.green.choices">{{gre_c.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.green?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg': err_step_three.children.errors && err_step_three.children.errors?.length != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.children.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.children.value">
                    <ion-option value="{{ chi.value }}"
                                *ngFor="let chi of form_step_three.form_step_three.children.choices">{{chi.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.children.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg': err_step_three.animals.errors && err_step_three.animals.errors?.length != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.animals.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.animals.value">
                    <ion-option value="{{ ani.value }}"
                                *ngFor="let ani of form_step_three.form_step_three.animals.choices">{{ani.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.animals.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.interests.errors  && err_step_three.interests.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.interests.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.interests.value"
                                  multiple="true">
                    <ion-option value="{{ inte.value }}"
                                *ngFor="let inte of form_step_three.form_step_three.interests.choices">{{inte.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.interests?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.politicalAffiliation.errors  && err_step_three.politicalAffiliation.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.politicalAffiliation.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.politicalAffiliation.value">
                    <ion-option value="{{ pol.value }}"
                                *ngFor="let pol of form_step_three.form_step_three.politicalAffiliation.choices">
                        {{pol.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.politicalAffiliation?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.height.errors  && err_step_three.height.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.height.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.height.value">
                    <ion-option value="{{ hght.value }}"
                                *ngFor="let hght of form_step_three.form_step_three.height.choices">{{hght.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.height?.errors }}</div>
        </div>


        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.body.errors  && err_step_three.body.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.body.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.body.value">
                    <ion-option value="{{ body_t.value }}"
                                *ngFor="let body_t of form_step_three.form_step_three.body.choices">{{body_t.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.body?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.eyes.errors  && err_step_three.eyes.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.eyes.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.eyes.value">
                    <ion-option value="{{ eye_c.value }}"
                                *ngFor="let eye_c of form_step_three.form_step_three.eyes.choices">{{eye_c.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.eyes?.errors }}</div>
        </div>

        <div class="input">
            <div [ngClass]="{'yellow-bg':  err_step_three.hair.errors  && err_step_three.hair.errors != 0 }"
                 class="placeholder">{{ form_step_three.form_step_three.hair.label }}
            </div>
            <ion-item>
                <select-alertless item-content [(ngModel)]="form_step_three.form_step_three.hair.value">
                    <ion-option value="{{ hair_c.value }}"
                                *ngFor="let hair_c of form_step_three.form_step_three.hair.choices">{{hair_c.label}}
                    </ion-option>
                </select-alertless>
            </ion-item>
            <div class="err">{{ err_step_three.hair?.errors }}</div>
        </div>


        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.perfectDate.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.perfectDate.value" rows="4">{{
                    form_step_three.form_step_three.perfectDate.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.perfectDate.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.perfectDate.errors }}</div>
        </div>

        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.favoriteDish.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.favoriteDish.value" rows="4">{{
                    form_step_three.form_step_three.favoriteDish.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.favoriteDish.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.favoriteDish.errors }}</div>
        </div>

        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.favoriteRestaurant.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.favoriteRestaurant.value" rows="4">{{
                    form_step_three.form_step_three.favoriteRestaurant.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.favoriteRestaurant.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.favoriteRestaurant.errors }}</div>
        </div>


        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.dinnerWith.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.dinnerWith.value" rows="4">{{
                    form_step_three.form_step_three.dinnerWith.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.dinnerWith.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.dinnerWith.errors }}</div>
        </div>

        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.favoriteBooks.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.favoriteBooks.value" rows="4">{{
                    form_step_three.form_step_three.favoriteBooks.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.favoriteBooks.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.favoriteBooks.errors }}</div>
        </div>


        <div class="input">
            <div class="placeholder">{{ form_step_three.form_step_three.music.label }}</div>
            <ion-item>
                <ion-textarea [(ngModel)]="form_step_three.form_step_three.music.value" rows="4">{{
                    form_step_three.form_step_three.music.value }}
                </ion-textarea>
                <div class="value">{{ form_step_three.form_step_three.music.value }}</div>
            </ion-item>
            <div class="err">{{ err_step_three.music.errors }}</div>
        </div>


        <div *ngFor="let key of errKeys">
            <div *ngIf="err_step_three[key]?.errors" class="err"
                 [innerHTML]="form_step_three.form_step_three[key]?.label">: {{ err_step_three[key].errors
                }}
            </div>
        </div>
        <div *ngIf="allfields  && allfields?.length != 0" class="err">{{ allfields }}</div>
        <button ion-button type="submit" (click)="formSubmit()" color="danger" block>{{ form.form.submit }}</button>
    </ion-list>
</ion-content>
<ion-footer>

    <ion-navbar class="footerMenu">
        <ion-title></ion-title>
    </ion-navbar>

</ion-footer>
