page-dialog {

  .text-input-md {
    margin: 2px 0 0 10px;
  }

  .usr_msg ion-card-content {
    padding: 0;
  }
  .date {
    text-align: center;
    font-size: 10px;
    color: #666;
  }

  .msg-item {
    width: 90%;
  }

  .other-msg {
    float: left;
  }

  .toolbar-ios {
    // margin-bottom: 7px;
    background-color: lightgrey;
  }

  .footer .toolbar-content-ios {
    margin-top: 7px;
    margin-bottom: 12px;
    height: auto;
  }

  .v-ios-icon {
    font-size: 2.9rem;
    position: absolute;
    top: 6px;
  }

  ion-textarea {
    width: 74%;
    height: 55px;
    float: left;
  }
  .send-msg {
    float: right;
  }

  .item-md, .item-ios {
    background-color: #fff;
  }

  ion-footer .toolbar-background-md,
  ion-footer .toolbar-background-ios {
    background-color: #ecedf3;
  }

  ion-footer .toolbar-background-ios {
    height: 0px;
    margin-top: auto;
  }

  ion-avatar div {
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 50%;

  }

  .dialog-avatar {
    margin: 5px;
    line-height: 40px;
    background: left center no-repeat;
    background-size: 40px auto;
    text-align: center;
  }

  .messages ion-card:not(.other-msg) {
    background-color: #a29878;
  }

  .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left],
  .item-ios ion-avatar[item-left], .item-ios ion-thumbnail[item-left] {
    margin: 8px 13px;
  }

  /*.ion-ios-done-all{
    font-size: 2.2em;
  }*/

  /*
     position: absolute;
    top: 9px;
    left: 5px;
  */

}
